.error-content {
    padding-top: 0.3rem;

    div {
        font-size: 0.8rem;
        line-height: 1.5;
        font-weight: 500;
        margin-top: 0rem;
        padding: 0em 1em;
        
        &:before {
            content: '*';
        }
    }
}
